body{
    font-family: "Trebuchet MS", sans-serif;
    background-color: lightgray;
}
h1{
    text-align: center;
}
.first-words{
    font-weight: bold;
    font-size: 1.05em;
}
.top-nav{
    border: 3px dashed darkgray;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav a,.top-nav h2,.top-nav p{
    color: grey;
    text-align: center;
}
a:hover {
    border: 1px dotted purple;
}
.info{
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    font-family: monospace;
    font-size: 14px;
}
.info a{
    text-decoration: none;
    color: mediumorchid;
}
.warning{
    font-family: "Impact", monospace;
    color: red;
    font-size: 1.1em;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 3px;
}